@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css);

html, body{
    width: 100vw;
    min-height: 100vh;
    height: auto;

}

.left{
	width: 50px;
	height: 100vh;
	background: #214a80;
    white-space: nowrap; 
    transition: width 0.5s ;
    position: absolute;
    left: 0;
    z-index: 9999; 
}
	.left ul{
		margin-top: 50px;
		padding: 0;
		list-style-type: none;
		text-align: left;
	}
	.left li {
		width: auto;
		height: 60px;
		line-height: 50px;  
		padding-left: 18px;
	}
	.left li:hover {
		background: #122844; 
	}

	.left:hover {
        width: 250px; 
    }  

	.left .item-menu {
	    height:50px;
	    overflow:hidden;
	    color:#fff;
	}  
	.left a{
		color: white;
	    text-decoration: none;
	    font-weight: bold;
	} 
	span.menu{
		padding-left: 17px;
	}
	.t_search {
	    color: black;
	    height: 35px;
	    margin-left: 15px;
	    width: 190px
	}
	.right{
		position: absolute;
		left: 50px;
		height: 100%;
		width: calc(100vw - 50px);
	}

	.right .title{
		padding: 1vh;
		text-align: center;
		background-color: #214a80;
		height: 50px;
	}

	.right .title h1{
		margin: 0;
		color: white;
		display: inline-block;
	}

	.right .content{
		width: 100%;
		height: calc(100vh - 50px);
		overflow: scroll;
	}

	.right .mrgin{
		padding: 0;
		margin-right: 5vw;
	}

	.right .pding{
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.right .center_parent{
		display: flex;
  		align-items: center;
  		justify-content: center;
	}

	.right .centered{
		min-width: 60%;
	}

	.aligned-row {
		display: flex;
		flex-flow: row wrap;
	}

	.right .btns{
		position: relative;
    	top: 50%;
		margin-top: auto;
		margin-bottom: auto;
	}

	.right .message{
    	color:#ff0000;
    	opacity:0.9;
	}