@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css);

.container{
    padding: 0;
    margin: 0;
	height: 100vh;
	width: 100vw;
}

body{
    width: 100vw;
    height: 100vh;
}

.left{
	width: 50px;
	height: 100vh;
	background: #214a80;
    white-space: nowrap; 
    transition: width 0.5s ;
    position: absolute;
    left: 0;
    z-index: 9999; 
}
	.left ul{
		padding: 0;
		list-style-type: none;
		text-align: left;
	}
	.left li {
		width: auto;
		height: 60px;
		line-height: 50px;  
		padding-left: 18px;
	}
	.left li:hover {
		background: #122844; 
	}

	.left:hover {
        width: 250px; 
    }  

		.left .item-menu {
	        height:50px;
	        overflow:hidden;
	        color:#fff;
	    }  
	.left a{
		color: white;
	    text-decoration: none;
	    font-weight: bold;
	} 
	span.menu{
		padding-left: 17px;
	}
	.t_search {
	    color: black;
	    height: 35px;
	    margin-left: 15px;
	    width: 190px
	}
	.right{
		position: absolute;
		left: 50px;
		height: 100vh;
		width: calc(100vh-50px);
	}